
body {
  margin: 0;
}

.map_header{
    background-color: rgb(255, 255, 255);
}


.map_header {
    width: 100%;
    z-index: 1000;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left:0;
}


.map_container {
    max-width: 1450px;
    width: 100%;
    padding: 0px 36px 0px 36px;
}

.map_header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.span{
    font-size: 19px;
  
}

.map_header_logo,.map_header_logo_a{
    font-size: 21px;
    font-weight:400;
     line-height:0.3%;
    transition: all 0.4s ease-in;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-decoration: none;
     

}

.map_header_menu {
  
    line-height: 0.3%;
    cursor: pointer;
  
}

.map_ul_a{
    display: flex;
    margin-left: 230px;
    gap:19px;
    text-decoration: none;
    list-style-type: none;
    cursor:pointer;
}


.map_li_a{
    font-size: 21px;
    font-weight: 400;
    line-height: 0.3%;
    transition: all 0.5s ease;
}


.map_a1{
     transition: all 0.3s ease-in;
     cursor: pointer;
     font-weight:400;
     position: relative;
     color: #000000;
}


.map_a1:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 1.5px; 
    background-color: rgb(0, 0, 0); 
    transition: width 0.6s ; 
}

.map_a1:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1.5px; 
    background-color: rgb(0, 0, 0); 
    transition: width 0.6s;  
}
    



/*header-button*/


.map_header_button{
    font-size: 22px;
    font-weight: 400;
    line-height: 0.3%;
    transition: all 0.5s ease;
    color:rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
    
}

.map_header_button:hover{
    color: rgba(37, 37, 37, 0.491);
}