
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




:root {
  font-family:Inter, sans-serif;


  color: rgb(255, 255, 255);
  background-color: #000000;
  

}

// @font-face {
//    font-family: 'Inter';
//   src: url(/pd/src/fonts/Montserrat-Black.ttf) format('ttf');
//   font-weight: 400;
// }