
.main{
    background-color: #000000;
}

.text{
    margin-top: 40px;
}


.container_main{
    max-width: 1450px;
    height: 100%;
    margin-left: 9px;
    width: 100%;
    padding: 0px 26px  0px 26px;
    top:0;


}


.img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    object-fit: cover;
    margin-top: 0px;
}



.h1_general{
    color: #ffffff;
    width: 100%;
    font-size: 59px;
    font-weight: 500;
    margin-top: 100px;
    line-height: 0.9;
    letter-spacing: 0.001px;
   
}



.p_general{
    color: #ffffff;
    width: 75%;
    font-size: 23px;
    font-weight: 400;
    margin-top: 65px;
    line-height: 1.2;
    letter-spacing: 0.001px;

}

.donntu_href{
    text-decoration: none;
    color: #ffffff;
    transition: all 0.4s ease-in;
}

.donntu_href:hover{
    color: #e3e3e3b0;

}


.main_button_a{
    color: #ffffff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border:1px #ffffff solid;
    border-radius: 12px ;
    padding:8px 12px;
    transition: all 0.3s ease-in;

}

.main_button_a:hover{
    background-color: rgb(255, 255, 255);
    color: #0c0c0c;
}



/*buttons*/

.buttons_general_container{
    width: 100%;
    display: flex;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 90px;
}


.buttons_navigation{
    display: flex;
    justify-content: space-between;
    gap:2px;
    margin-left: 7px;
    margin-top: -3px;
    
}

.main_button{
     width: 120px;
     font-size: 25px;
     transition: all 0.4s ease-in;
    cursor: pointer;
   
}

.main_button,a{
          font-weight: 400;
}


.button{
    color: #ffffff;
    text-decoration: none;
    transition: all 0.4s ease-in;
}

.button:hover{
     color: rgba(173, 173, 173, 0.852);
}

.Href_logo{
    justify-content: space-between;
    text-align: center;
    height: 15px;
    width: 15px;
    padding-right: 3px;
    pointer-events: none;

}

/*img*/


.main_footer_img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    object-fit: cover;
   margin-top: -20px;
}








